[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "*"
attrs = "*"
backcall = "*"
"boto3" = "*"
botocore = "*"
certifi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
decorator = "*"
dj-database-url = "*"
dj-static = "*"
django-extensions = "*"
django-storages = "*"
djangorestframework = "*"
docutils = "*"
drf-yasg = "*"
"flake8" = "*"
future = "*"
gunicorn = "*"
idna = "*"
inflection = "*"
ipython = "*"
isort = "*"
itypes = "*"
jedi = "*"
jmespath = "*"
mccabe = "*"
more-itertools = "*"
openapi-codec = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
"psycopg2" = "*"
ptyprocess = "*"
py = "*"
pycodestyle = "==2.3.1"
pyflakes = "==1.6.0"
pytest = "*"
pytest-django = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
"ruamel.yaml" = "*"
"s3transfer" = "*"
simplegeneric = "*"
six = "*"
"static3" = "*"
traitlets = "*"
uritemplate = "*"
"urllib3" = "*"
wcwidth = "*"
Django = "==2.2.10"
ipython_genutils = "*"
"Jinja2" = "*"
MarkupSafe = "*"
model_mommy = "*"
Pillow = "*"
prompt_toolkit = "==1.0.15"
Pygments = "*"
Werkzeug = "*"
django-filter = "*"
"psycopg2-binary" = "*"
django-allauth = "*"
celery = "*"
django-celery-results = "*"
django-debug-toolbar = "*"
newrelic = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.6"
