{% extends 'core/base.html' %}


{% block content %}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <h1 class="text-uppercase text-white mb-5">API</h1>
                    <div class="container">
                        <div class="controls d-flex flex-wrap justify-content-center">
                            <a class="filter text-white">bank list</a>
                            <a class="filter text-white">bank account list</a>
                            <a class="filter text-white">category list</a>
                            <a class="filter text-white">tag list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}