{% extends 'core/base.html' %}


{% block content %}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <h1 class="text-uppercase text-white mb-5">API</h1>
                    <div class="container">
                        <div class="controls d-flex flex-wrap justify-content-center">
                            <a href="{% url 'api:bank-list' %}" target="_blank" class="filter text-white">bank list</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'api:bank-account-list' %}" target="_blank" class="filter text-white">bank account list</a>
                                <a href="{% url 'api:category-list' %}" target="_blank" class="filter text-white">category list</a>
                                <a href="{% url 'api:tag-list' %}" target="_blank" class="filter text-white">tag list</a>
                            {% endif %}
                        </div>
                        {% if not user.is_authenticated%}
                            <a href="{% url 'core:login' %}" class="filter text-white">faça login para ver a lista completa</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
