{% extends 'core/base.html' %}
{% block content %}
<section id="services" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="product-area-title text-center">
                    <p class="text-white text-uppercase">aqui você encontra detalhe sobre uma categoria específica</p>
                    <h2 class="text-white h1">Categoria {{ category.title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% if category.expenses.first %}
<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="h1 mb-60">Despesas da categoria {{ category.title }}</h2>
                </div>
                <table class="table table-sm table-responsive table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Conta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Vencimento</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.title }}</td>
                                <td>{{ expense.account }}</td>
                                <td>R$ {{ expense.total }}</td>
                                <td>{{ expense.due_date|date:'d/m/Y' }}</td>
                                <td><a href="#">editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if category.revenues.first %}
<section class="section-full bg12">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="h1 mb-60">Receitas da categoria {{ category.title }}</h2>
                </div>
                <table class="table table-sm table-responsive table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Conta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Vencimento</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for revenue in revenues %}
                            <tr>
                                <td>{{ revenue.title }}</td>
                                <td>{{ revenue.account }}</td>
                                <td>R$ {{ revenue.total }}</td>
                                <td>{{ revenue.due_date|date:'d/m/Y' }}</td>
                                <td><a href="#">editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock%}
