{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section id="contact" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <h2 class="h1">incluir categoria</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-30 ">
                {% if messages %}
                    {% for message in messages %}
                        <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form id="myForm" method="post" class="contact-form">
                    {% csrf_token %}
                    <div class="single-input color-2 mb-10">
                        <label for="account">Nome da categoria:</label>
                        <input type="text" name="title" placeholder="título da categoria" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Título'" required="" onkeyup="slugify()" id="id_title">
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="account">Descrição:</label>
                        <textarea name="description" placeholder="insira uma descrição" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite aqui uma descrição'"></textarea>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="slug">Slug:</label>
                        <input type="text" name="slug" placeholder="Insira o slug" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Slug'" required="" id="id_slug">
                    </div>

                    <button class="primary-btn banner-btn my-4 text-dark" type="submit">cadastrar categoria</button>

                    <div class="alert"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript">
    function slugify () {
        var value_title = document.getElementById('id_title').value;
        document.getElementById('id_slug').value = URLify(value_title, 150);
    }
</script>
{% endblock %}
