{% extends 'core/base.html' %}

{% block content %}

<section class="section-full bg11">
    <div class="container">
        <div class="row justify-content-center">
            <p class="text-uppercase text-white">aqui você encontra todos detalhes de suas contas a pagar</p>
        </div>
        <div class="row justify-content-center">
        <h1 class="text-uppercase text-white">Despesas</h1>

        </div>
    </div>
</section>

<section class="section-full bg01">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-uppercase text-black mb-5">Categorias</h1>
        </div>
    </div>
    <div class="container">
        <div class="controls d-flex flex-wrap justify-content-center">
            {% for category in categories %}
            <a class="filter">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock%}
