{% extends 'core/base.html' %}

{% block content %}


<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="h1 mb-60">Seção para Testes</h2>
                </div>
                    {% if expenses %}
                        <form method="post">
                            <table class="table table-sm table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Conta</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Vencimento</th>
                                        <th scope="col">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{ formset.management_form }}
                                    {% csrf_token %}
                                    {% for form in formset %}
                                        <tr>
                                            <td>{{ form.title.value }}</td>
                                            <td>{{ form.account }}</td>
                                            <td>R$ {{ form.total }}</td>
                                            <td>{{ form.category }}</td>
                                            <td>{{ form.due_date }}</td>
                                            <td class="d-none">{{ form.id }}</td>
                                            <td><a href="#">editar</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% for error in formset.errors %}
                                {{ error }}
                            {% endfor %}

                            <button type="submit">Salvar</button>
                        </form>
                    {% else %}
                        <p class=" text-uppercase text-center">nenhuma conta a pagar foi encontrada :)</p>
                    {% endif %}
            </div>
        </div>
    </div>
</section>


{#<div>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ formset.as_ul }}#}
{#        {% for error in formset.errors %}#}
{#            {{ error }}#}
{#        {% endfor %}#}
{#        <button type="submit">Salvar</button>#}
{#    </form>#}
{#</div>#}

<section id="services" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="product-area-title text-center">
                    <p class="text-white text-uppercase">aqui você encontra todos detalhes de suas contas a pagar</p>
                    <h2 class="text-white h1">Despesas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if request.user.accounts.first %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'core:expenses-include'%}">
                        <div class="single-product">
                            <div class="desc">
                                <h4>Incluir conta a pagar</h4>
                                <p>Faça aqui o lançamento da sua despesa</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="desc">
                        <h4>Categorias</h4>
                        <p>Gerencie suas categorias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="h1 mb-60">Próximas Contas a Pagar</h2>
                </div>
                    {% if expenses %}
                        <table class="table table-sm table-responsive table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Conta</th>
                                <th scope="col">Total</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Vencimento</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                                <tr>
                                    <td>{{ expense.title }}</td>
                                    <td>{{ expense.account }}</td>
                                    <td>R$ {{ expense.total }}</td>
                                    <td>{{ expense.category }}</td>
                                    <td>{{ expense.due_date|date:'d/m/Y' }}</td>
                                    <td><a href="{% url 'core:expenses-edit' expense.id %}">editar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% else %}
                        <p class=" text-uppercase text-center">nenhuma conta a pagar foi encontrada :)</p>
                    {% endif %}
            </div>
        </div>
    </div>
</section>
{% if categories %}
<section class="section-full bg01">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-uppercase text-black mb-5">Categorias</h1>

        </div>
    </div>
    <div class="container">
        <div class="controls d-flex flex-wrap justify-content-center">
            {% for category in categories %}
            <a class="filter">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endblock%}
