{% extends 'core/base.html' %}

{% block content %}

<section class="section-full bg11">
    <div class="container">
        <div class="row justify-content-center">
            <p class="text-uppercase text-white">aqui você encontra todos detalhes de suas contas a pagar</p>
        </div>
        <div class="row justify-content-center">
        <h1 class="text-uppercase text-white">Despesas</h1>

        </div>
    </div>
</section>

<section id="services" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-white text-uppercase">Why Choose Us</p>
                    <h2 class="text-white h1">We ensure perfect quality Digital <br> products for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="desc">
                        <h4>Incluir conta a pagar</h4>
                        <p>Faça aqui o lançamento da sua despesa</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="desc">
                        <h4>Categorias</h4>
                        <p>Gerencie suas categorias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

<section class="section-full bg01">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-uppercase text-black mb-5">Categorias</h1>
        </div>
    </div>
    <div class="container">
        <div class="controls d-flex flex-wrap justify-content-center">
            {% for category in categories %}
            <a class="filter">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock%}
