{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <p class="text-uppercase">Contas Bancárias</p>
                    <h3>Acompanhe aqui as principais informações sobre suas contas bancárias.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for acc in accounts %}
                <div class="col-md-6">
                    <figure class="signle-service">
                        <img src="img/s1.jpg" class="img-fluid" alt="">
                        <figcaption class="text-center">
                            <img src="{{ acc.bank.img.url }}" class="img-circle mb-2" alt="" style="max-width:60px;">
                            <h5 class="text-uppercase">{{ acc.bank.name }}</h5>
                            <small>saldo geral</small>
                            <br>
                            <a href="#" class="primary-btn d-inline-flex align-items-center">R$ {{ acc.balance|intcomma }}</a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="blog" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Acompanhe suas contas a pagar</p>
                    <h2 class="h1">Despesas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for expense in expenses %}
                <div class="col-lg-3 col-md-6">
                    <div class="single-publish">
                        <img src="img/p1.jpg" class="img-fluid" alt="">
                        <div class="top">
                            <div class="mb-15 d-flex">
                                <a>Banco a debitar</a>
                                <span class="line">|</span>
                                <a>{{ expense.account }}</a>
                            </div>
                            <h6 class="text-uppercase"><a>{{ expense.title }}</a></h6>
                        </div>
                        <span class="mb-30">Vencimento: {{ expense.due_date|date:'d/m/Y' }}</span><br>
                        {% if expense.category %}<span class="mb-30">Categoria: {{ expense.category }}</span>{% endif %}<br>
                        <blockquote class="mb-30 mt-2">{{ expense.description }}</blockquote>
                        {% if expense.tags.all %}
                            <small>Tags:</small>
                            {% for tag in expense.tags.all %}
                                {% if forloop.last %}
                                    <small>{{ tag }}.</small>
                                {% else %}
                                <small>{{ tag }},</small>
                                {% endif %}
                            {% endfor %}
                        {% endif %}<br>
                        <a href="#" class="primary-btn d-inline-flex align-items-center mt-2">Detalhes</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
