{% extends 'core/base.html' %}

{% block content %}
<section id="contact" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <h2 class="h1">incluir receita</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-30 ">
                <form id="myForm" method="post" class="contact-form">
                    {% csrf_token %}
                    <div class="single-input color-2 mb-10">
                        <label for="account">Conta:</label>
                        <select name="account" id="account" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'" required="">
                            {% for option in form.account %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="single-input color-2 mb-10">
                        <label for="account">Nome da receita:</label>
                        <input type="text" name="title" placeholder="título da receita" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Título'" required="">
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="account">Descrição:</label>
                        <textarea name="description" placeholder="insira uma descrição" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Digite aqui uma descrição'"></textarea>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="account">Valor:</label>
                        <input type="number" name="total" step="0.01" placeholder="valor da receita" onfocus="this.placeholder = ''" onblur="this.placeholder = 'valor da receita'" required="">
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="account">Data de vencimento:</label>
                        <label class="text-dark" for="due_date">Digite a data de vencimento da receita:</label>
                        <input type="date" name="due_date" id="due_date" placeholder="data de vencimento" onfocus="this.placeholder = ''" onblur="this.placeholder = 'data de vencimento'" required="">
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="id_paid_out">Marcar como pago:</label>
                        <input type="checkbox" name="paid_out" id="id_paid_out">
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="id_note">Observação:</label>
                        <textarea name="note" cols="40" rows="10" id="id_note" placeholder="caso tenha alguma observação a fazer, escreva aqui"></textarea>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="category">Categoria:</label>
                        <select name="category" id="category" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'" required="">
                            {% for option in form.category %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <label for="tags">Tags:</label>
                        <select name="tags" id="tags" multiple="multiple" style="height: 100px;">
                            {% for option in form.tags %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>

                    <button class="primary-btn banner-btn my-4 text-dark" type="submit">cadastrar receita</button>

                    <div class="alert"></div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
