.default-header nav .main-menu-items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

@media (max-width: 767px) {
  .default-header nav .main-menu-items {
    display: none;
  }
}

.default-header nav .main-menu-items a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 991px) {
  .default-header nav .main-menu-items a {
    margin: 0 5px;
  }
}

.default-header nav .main-menu-items a:hover {
  color: #00ff8c;
}


@media (max-width: 767px) {
  .default-header .main-menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background: #4a4fad;
    padding: 30px 20px;
  }
  .default-header .main-menu-items a {
    margin: 5px 20px !important;
  }
}

  #bank {
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    background: #fff;
    border: 10px, solid, red;
}

.bg01 {
  background: #EDF67D;
}

.bg02 {
  background: #724CF9;
}

.bg03 {
  background: #6622CC;
}

.bg04 {
  background: #61E8E1;
}

.bg05 {
  background: #F25757;
}

.bg06 {
  background: #61E8E1;
}

.bg07 {
  background: #818AA3
}

.bg08 {
  background: #297373
}

.bg09 {
  background: #261C15
}

.bg10 {
  background: #2F3061
}

.bg11 {
  background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 100%, rgba(91, 97, 207, 0.95) 0%);
}